/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style 
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');*/

/* ======== стилізація кнопки Search ======== */
.submit-button {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;

  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  margin-left: 8px;
}

.submit-button:hover {
  background: #6c8cff;
}

/* ======== стилізація галереї зображень ======== */
.gallery {
  list-style: none;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  height: 696px;
  margin: 0 auto;
  padding: 24px 156px;
  column-gap: 24px;
  row-gap: 24px;
}

.gallery-item {
  max-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  margin: 0 auto;
  outline: none;
}

.gallery-link {
  display: inline-block;
  text-decoration: none;
  outline: none;
  line-height: 0;
}

.gallery-image {
  height: 200px;
  width: 360px;
  object-fit: cover;
}

.basicLightbox {
  background-color: rgba(46, 47, 66, 0.8);
}

.basicLightbox__placeholder img.modal-image:first-child:last-child {
  width: 1112px !important;
  height: 640px !important;
  object-fit: cover;
  margin: auto;
}
